html {
	position: relative;
    height: 100%;
    width: 100%;
}

p, label, a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2.page-title, h3.sidebar-title {
    color: #4aaaa5;
}

h2.page-title {
    font-size: xx-large;
    padding-left: 7px;
}

h3.sidebar-title {
    font-size: x-large;
}

p.copyright {
	text-align: center;
}

body {
	background: url(../images/gray_jean/gray_jean.png);
	height: 100%;
}

.bio-text {
    line-height: 2.0;
    padding-right: 10px;
    padding-left: 10px;
}

.main-img {
    margin-right: 15px;
    margin-left: 15px;
    float: left;
}

/* begin sidebar styles */
div.sidebar {
    float: right;
    background-color: white;
    width: 270px;
    padding-bottom: 15px;
}

ul > li.sidebarItem {
    text-align: center;
    float: left;
    width: 33%;
}

ul {
    text-align: center;
    overflow: auto;
    width: 100%;
}
/* end sidebar styles */

/* start navbar styles */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #f5f5f5;
    overflow: hidden;
    height: 45px;
    margin-bottom: 10px;
    height: 100%;
    
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 2.0;
}

span.nav-menu {
    margin-right: 5%;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #4aaaa5;
    /*color: white;*/
}

/* pull nav menu items right */
span.nav-menu {
    float: right;
}

/* "site name" header */
div.name-header {
    color: #fff;
    background-color: #4aaaa5;
    margin-left: 5%;
    height: 45px;
    display: inline-block;
    height: 100%;
    line-height: 1.0;
} 

span.name-text {
    padding-right: 40px;
    padding-left: 40px;
    font-size: xx-large;
    line-height: 1.5;
}
/* end navbar styles */

/* start responsive layout */
/* start small mobile styles */
@media (min-width: 0px) {
    div.full-content {
        width: 100%;
    }
    
    div.main-content {
        background-color: #fff;
        height: 80%;
        width: 94%;
        margin-bottom: 35px;
        margin-right: 3%;
        margin-left: 3%;
    }

    div.sidebar {
        background-color: #fff;
        height: 20%;
        width: 94%;
        margin-right: 3%;
        margin-left: 3%;
        text-align: center;
    } 

    div.sidebar a {
        margin: 0 auto;
    }
}
/* end small mobile styles */

/* start medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    div.full-content {
        width: 100%;
    }
    
    div.main-content {
        margin-left: 5%;
        background-color: #fff;
        height: 500px;
        width: 60%;
        float: left;
    }

    div.sidebar {
        margin-right: 5%;
        background-color: #fff;
        height: 120px;
        width: 22%;
        float: right;
        text-align: center;
    }
} 
/* end medium device widths */

/* begin line div styles */
div.thick-line {
    background-color: #ddd;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	height: 3px;
	margin-bottom: 15px;
}
/* end line div styles */

/* start contact form styles */
#contact-form {
    width: 90%;
    margin: 0 auto;
}

#contact-form input {
    width: 100%;
    display: block;
}

#contact-form label {
    width: 100%;
    display: block;
}

#contact-form textarea {
    width: 100%;
    display: block;
}
/* end contact form styles */

/* begin demo page styles */
ul.double {
    width:760px;
    margin-bottom:20px;
    overflow:hidden;
}

li.appLinkTile {
    line-height:1.5em;
    display:inline;
    float: left;
    position: relative;
    margin-bottom: 15px;
}

a.appLink {
    height: 132px;
    width: 132px;
    position: relative;
    color: #fff; 
}

span.appTitle {
    position: absolute;
    bottom: 0;
    right: 1px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    width: 128px;
    border-right: #ddd 1px solid;
    border-left: #ddd 1px solid;
}

#double li { 
    width:50%;
}
 
#double li.appLinkTile img {
    border: 2px solid #ddd;
}
/* end demo app list styles */

/* begin submit button styles */
button.submit-button {
    background-color: #4aaaa5;
    color: #fff;
    border: 1px #4aaaa5 solid;
    height: 40px;
    width: 100px;
    font-size: medium;
    margin-top: 15px;
    font-weight: 500;
} 
/* end submit button styles */

/* start sticky footer styles */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.site-footer {
    background-color: #666;
    border-top: 4px solid #4aaaa5;
    height: 60px;
    line-height: 2.0;
}

p.copyright {
    color: #fff;
}
/* end sticky footer styles */